body{
    background-image: linear-gradient(90deg, #E199AD 0.00%,#bd5c77 0.00%,#610A26 100.00%);
    font-family: 'Quicksand', 'salmonkids';
    font-size: 20px;
    color: #610A26;
}
legend{
    font-size: 40px;
    color: white;
}
input{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 13px 13px;
}
#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: beige;
    border: 4px solid #FAE4CC;
    border-radius: 40px;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(255, 255, 255);
}

.red{
    background-color: rgb(243, 73, 73); 
}
.blue{
    background-color: rgb(100, 100, 253); 
}

.green{
    background-color: rgb(93, 211, 69); 
}

fieldset{
    text-align: center;
    background-color: #E199AD;
    border: none;
}

#start{
    background-color: #f8d3cf;
    border: none;
    color: #610A26;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#color{
    background-color: #fcdbaa;
    border: none;
    color: rgb(87, 48, 48);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}